<div class="p-3 text-foreground">
  <div class="hazard-container">
    <h3 class="text-lg font-bold">Hazards</h3>
    <div class="mt-4">
      <h4 class="text-sm font-bold">Typhoons</h4>
      <div class="text-sm mt-2">
        <select name="" id="">
          <option value="">Tropical</option>
          <option value="">Signal 1</option>
          <option value="">Signal 2</option>
          <option value="">Signal 3</option>
          <option value="">Signal 4</option>
        </select>
      </div>
    </div>
    <div class="mt-4">
      <div class="text-sm font-bold">
        <a href="#">Landslides</a>
      </div>
    </div>
    <div class="mt-4">
      <div class="text-sm font-bold">
        <a href="#">Floods</a>
      </div>
    </div>
  </div>
  <!-- <hr class="border-collapse border-border mt-2" /> -->
  <div class="data-details-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/data">Datas</a>
    </div>
  </div>
  <!-- <hr class="border-collapse border-border mt-2" /> -->
  <div class="instruction-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/usage">Instructions</a>
    </div>
  </div>
  <!-- <hr class="border-collapse border-border mt-2" /> -->
  <div class="developers-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/contactus">Contact us</a>
    </div>
  </div>
</div>
