<div class="p-3 text-foreground">
  <div class="hazard-container">
    <h3 class="text-lg font-bold">Hazards</h3>
    <div class="mt-4">
      <h4 class="text-sm font-bold">Typhoons</h4>
      <div class="text-sm">
        <p><a href="#">Tropical</a></p>
        <p><a href="#">Signal 1</a></p>
        <p><a href="#">Signal 2</a></p>
        <p><a href="#">Signal 3</a></p>
        <p><a href="#">Signal 4</a></p>
      </div>
    </div>
    <div class="mt-4">
      <div class="text-sm font-bold">
        <a href="#">Landslides</a>
      </div>
    </div>
    <div class="mt-4">
      <div class="text-sm font-bold">
        <a href="#">Floods</a>
      </div>
    </div>
  </div>
  <!-- <hr class="border-collapse border-border mt-2" /> -->
  <div class="data-details-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/data">Datas</a>
    </div>
  </div>
  <!-- <hr class="border-collapse border-border mt-2" /> -->
  <div class="instruction-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/usage">Instructions</a>
    </div>
  </div>
  <!-- <hr class="border-collapse border-border mt-2" /> -->
  <div class="developers-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/contactus">Contact us</a>
    </div>
  </div>
</div>
