<div class="p-3 text-foreground">
  <div class="hazard-container">
    <h3 class="text-lg font-bold">Hazards</h3>
    <div class="mt-4">
      <h4 class="text-sm font-bold">Typhoons</h4>
      <div class="text-sm mt-2">
        <select name="" id="" title="to locate typhoon and its value">
          <option value="tropical" title="Tropical">Tropical</option>
          <option value="signal1" title="Signal 1">Signal 1</option>
          <option value="signal2" title="Signal 2">Signal 2</option>
          <option value="signal3" title="Signal 3">Signal 3</option>
          <option value="signal4" title="Signal 4">Signal 4</option>
        </select>
      </div>
    </div>
    <div class="mt-4">
      <div class="text-sm font-bold">
        <a href="#" title="to locate landslide">Landslides</a>
      </div>
    </div>
    <div class="mt-4">
      <div class="text-sm font-bold">
        <a href="#" title="to locate flood">Floods</a>
      </div>
    </div>
  </div>

  <div class="data-details-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/data" title="to locate Datas">Datas</a>
    </div>
  </div>

  <div class="instruction-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/usage" title="to locate instructions">Instructions</a>
    </div>
  </div>

  <div class="developers-container mt-8">
    <div class="text-lg font-bold">
      <a routerLink="/contactus" title="info of developers">Contact us</a>
    </div>
  </div>
</div>
